rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir leitura e escrita nas coleções do clube de benefícios
    match /students/{studentId} {
      allow read, write: if true;
    }
    match /companies/{companyId} {
      allow read, write: if true;
    }
    match /benefits/{benefitId} {
      allow read, write: if true;
    }
    match /admins/{adminId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
